.bunny-project-card {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    margin: 0 5px 10px;
    transition: box-shadow ease-in 0.2s;
    box-shadow: 0px 4px 4px rgba(108, 114, 147, 0.15);
    border-radius: 6px;
    border: 2px solid #fff;
    &:hover {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        border: 2px solid rgba(108, 114, 147, 0.15);
    }
    .card {
        height: 100%;
        background: $yellow-A100;
        border: 1px solid $yellow-A100;
        border: none;
        .project-title {
            margin: 12px 0 8px;
        }
        .img {
            background-color: $grey-200 !important;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        .card-shadow {
            box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.07);
        }
        .card-body {
            padding: 0 10px;
            border-radius: 0;
        }
        .badge-light {
            line-height: $line-height;
            font-size: $font-size;
        }
    }
    .collapse {
        .card {
            margin: 0;
            padding: 0;
            .card-body {
                padding: 0;
            }
            .title {
                font-weight: 500;
                font-size: 9px;
                letter-spacing: 0.4px;
                text-transform: uppercase;
                color: $grey-600;
                border-bottom: 1px solid $grey-200;
                ;
            }
        }
    }
    .dropdown-toggle {
        padding: 0;
        margin-right: 4px;
        .badge {
            margin: 0;
        }
    }
    button:focus,
    button:active {
        border: 1px solid #fff !important;
        outline: none !important;
    }
    img {
        width: 100%;
        height: 80px;
        border-radius: 6px 6px 0px 0px;
    }
    img.logo {
        margin: 10px;
        border: 3px solid hsla(0, 0%, 100%, 0.4);
        border-radius: 4px;
        box-shadow: 0px 15px 46px rgba(0, 0, 0, 0.2);
        height: 60px;
        width: auto;
    }
    .btn-outline-primary,
    .btn-secondary {
        height: 28px;
    }
    .btn-secondary.not-collapsed {
        background: $grey-A700;
        border: 1px solid $grey-A200;
    }
    .btn-outline-secondary {
        height: 30px;
        top: -1px;
        position: relative;
        border: 1px solid transparent !important;
    }
    .manage-labels-btn {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 26px;
        /* or 289% */
        display: flex;
        align-items: center;
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
        color: #2b65f0;
        cursor: pointer;
        display: inline;
    }
    .manage-labels-btn:hover {
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
    }
    .project-list-progress.progress {
        height: 3px;
        border-radius: 0;
        .progress-bar {
            background: $grey-A400;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
    }
    .ghost {
        opacity: 0.4;
    }
    .sortable-drag {
        .card,
        .list-group-item {
            transform: rotate(2.6deg) !important;
            cursor: grabbing !important;
        }
    }
}

.sidebar-project-labels {
    .b-sidebar {
        background: #fff !important;
        padding: 120px 15px 15px;
    }
    .nav-link {
        font-size: 12px;
        font-weight: 600;
    }
    .label-create {
        input {
            width: 185px;
            border-right: 1px solid transparent !important;
        }
        input.label-name {
            width: 173px;
        }
    }
    .label-search {
        input {
            width: 148px;
            border-right: 1px solid transparent !important;
        }
        input.label-name {
            width: 142px;
        }
    }
    .b-sidebar>.b-sidebar-header {
        font-size: 1rem;
        line-height: 1.2rem;
        padding: 5px 0 20px;
    }
}

.project-label-line {
    .vue-swatches__trigger {
        width: 42px !important;
        height: 31px !important;
        border-radius: 4px !important;
        margin-right: 5px !important;
    }
    button {
        padding: 2px 10px;
        height: 31px;
        margin-left: -1px;
        border: 1px solid #ced4da !important;
        border-left: 1px solid transparent !important;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        .fa-times,
        .fa-plus,
        .fa-trash {
            opacity: 0;
        }
    }
    &:hover {
        input {
            border-right: 1px solid #ced4da !important;
        }
        button {
            border-left: 1px solid #ced4da !important;
            .fa-times,
            .fa-plus,
            .fa-trash {
                opacity: 1;
            }
        }
    }
}

.label-for-input {
    text-transform: uppercase;
    color: $grey-800;
    font-size: 11px;
    letter-spacing: 0.4px;
}