.GitScrum-Night {
    background: $black-400 !important;
    color: $grey-100;
     ::placeholder {
        color: $grey-900 !important;
    }
    small {
        color: $grey-300 !important;
    }
    a {
        color: $grey-A100 !important;
        text-decoration: none;
        background-color: transparent;
    }
    .subheader {
        background: $grey-900;
    }
    .b-sidebar-body {
        h5 {
            color: $grey-100;
        }
        p {
            color: $grey-300;
        }
    }
    #sidebar-left {
        .badge.badge-light {
            background: transparent !important;
            color: $grey-A100 !important;
            .fa-lock-alt {
                color: $grey-A100 !important;
            }
        }
        .header-project-title {
            span {
                color: $grey-A100;
            }
        }
    }
    .header-project-team-members {
        h3 {
            color: $grey-300;
        }
    }
    .project-members .box {
        background: $grey-700;
        .avatar {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), 0 0 0 8px $grey-900;
        }
        .headline {
            color: $grey-300;
        }
        .header-project-collaboration p {
            color: $grey-200;
        }
    }
    .v-sidebar-menu .vsm--header {
        color: $grey-300;
    }
    .v-sidebar-menu .vsm--link,
    .v-sidebar-menu .vsm--link_level-1 .vsm--icon,
    .v-sidebar-menu .vsm--icon {
        color: $grey-A200 !important;
        &:hover {
            color: $grey-50 !important;
        }
    }
    .v-sidebar-menu .vsm--dropdown .vsm--list {
        background-color: transparent;
        padding: 5px 0 !important;
    }
    .v-sidebar-menu.vsm_expanded .vsm--link.vsm--link_active {
        background-color: $blue-900;
        color: $blue-100 !important;
    }
    .b-sidebar {
        background: $black-600 !important;
        .my-next-tasks-header {
            background: $black-300 !important;
            .titleLoading h1 {
                color: $black-50;
            }
        }
    }
    .bunny-project-card {
        border: 2px solid $grey-900 !important;
        .card {
            background: $black-700 !important;
        }
        &:hover {
            border: 2px solid $grey-600 !important;
        }
        .btn-secondary {
            color: $grey-200;
            background-color: $grey-900;
            border-color: $grey-900;
        }
        .badge-light {
            color: $grey-200 !important;
            background-color: $grey-900 !important;
            border-color: $grey-900 !important;
            .btn {
                color: $grey-200 !important;
            }
        }
        .project-list-progress.progress .progress-bar {
            background: $pink-500 !important;
        }
    }
    .project-progress.progress .progress-bar {
        border-radius: 0;
        background-color: $pink-500 !important;
    }
    .styled-dropdown {
        .dropdown-menu {
            background-color: $grey-200 !important;
            .dropdown-item {
                color: $grey-50 !important;
                &:hover {
                    background-color: $grey-700 !important;
                    border-radius: 4px;
                    color: $grey-200 !important;
                    border-color: transparent;
                }
            }
        }
        .btn:focus,
        .btn:active {
            background: $grey-900;
            border: 1px solid transparent;
        }
    }
    .nav-tabs {
        border-bottom: 1px solid $black-700 !important;
        .nav-item {
            a {
                color: $black-700 !important;
            }
        }
        .nav-link.active {
            border-bottom: 1px solid $black-700 !important;
            background: $black-700 !important;
            color: $black-50 !important;
        }
    }
    .bunny-project-card button:focus,
    .bunny-project-card button:active {
        background-color: $grey-500 !important;
        border: 1px solid $grey-700 !important;
        outline: none !important;
    }
    .sidebar-menu-title {
        color: $grey-100 !important;
    }
    .card {
        background: $black-300 !important;
        .card-title {
            color: $grey-100 !important;
        }
        .card-text {
            color: $grey-300 !important;
            label {
                color: $grey-100 !important;
            }
            small,
            .small {
                color: $grey-300 !important;
            }
        }
        .card-header {
            background-color: $black-500 !important;
            color: $grey-400 !important;
        }
    }
    #sidebar-task-filter {
        background: $black-400 !important;
        .b-sidebar-header {
            strong {
                color: $black-100 !important;
            }
            .close {
                color: $black-100 !important;
            }
        }
        .custom-select {
            background-color: $grey-300 !important;
            color: $grey-900 !important;
            padding: 2px 13px;
        }
    }
    .task-close {
        color: $grey-200 !important;
    }
    .sprint-burndown {
        background: $grey-100 !important;
    }
    .card-body-create {
        background: $grey-500 !important;
    }
    .swatches-input .vue-swatches__trigger {
        border: 2px solid $grey-900 !important;
    }
    .btn-primary {
        color: $blue-50 !important;
    }
    .v-sidebar-menu {
        background: $black-500 !important;
    }
    .v-sidebar-menu a {
        color: $blue-200 !important;
        &:hover {
            color: $grey-A100;
        }
    }
    .header-project-logo {
        img {
            border: 2px solid $grey-700;
        }
    }
    .editor .ProseMirror,
    .custom-select,
    .form-control,
    .mx-input {
        background-color: $grey-300 !important;
        border: 2px solid $grey-900 !important;
        color: $black-900 !important;
    }
    .b-form-tags.form-control {
        background-color: transparent !important;
        border: 2px solid transparent !important;
    }
    .task-total {
        color: $black-50;
        background: $grey-700 !important;
        border: 1px solid rgba(0, 0, 0, 0.3) !important;
    }
    .board-task-options .btn-link,
    .board-task-options .btn-link:focus,
    .board-task-options .btn-link:active {
        color: $grey-200;
    }
    .board-task-title {
        color: $grey-200;
    }
    .board-workflow {
        background-color: $black-700;
        .title-loading {
            color: $grey-400;
        }
        .add-card {
            background: $black-400;
            border: 1px solid $grey-900;
        }
        .task-title {
            color: $grey-50;
        }
    }
    .header-project-collaboration .progress-bar {
        background-color: $lime-900;
    }
    .table {
        background: $black-800 !important;
        color: $grey-200 !important;
        .badge-light {
            background: $grey-800 !important;
            border: 1px solid $grey-700;
            padding-bottom: 2px;
            color: $grey-300 !important;
        }
        thead th {
            vertical-align: bottom;
            border-bottom: 2px solid $black-A700;
        }
        .date-time {
            font-size: 12px;
            color: $grey-400;
        }
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background: $black-300 !important;
    }
    .table th {
        border-top: 1px solid transparent !important;
    }
    .table td {
        border-top: 1px solid $black-300 !important;
    }
    .table-hover tbody tr:hover {
        background-color: $black-500 !important;
        color: $grey-50 !important;
    }
    .sprint .progress,
    .user-story .progress {
        background: $black-300 !important;
    }
    .sprint .progress .progress-bar,
    .user-story .progress .progress-bar {
        background-color: $lime-800 !important;
    }
    hr {
        border-top: 1px solid $grey-500;
    }
    .titleLoading {
        h1 {
            color: $grey-50;
        }
        p {
            color: $grey-300;
        }
    }
    .card-template {
        background: $grey-50;
        border: 2px solid $blue-50 !important;
    }
    .card-template.selected,
    .card-template:hover {
        background: $blue-900 !important;
        border: 2px solid $blue-A700 !important;
        color: $blue-50;
    }
    .dropzone {
        background: $grey-300 !important;
        color: $blue-50 !important;
    }
    .btn-outline-secondary {
        background: $grey-600 !important;
        color: $grey-50 !important;
        border-color: $grey-400 !important;
    }
    .b-form-tags-input {
        border-color: $grey-100 !important;
    }
    .tabs-burndown {
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
            color: $grey-100 !important;
            background-color: $grey-600 !important;
            border-color: $grey-300 !important;
        }
    }
    .text-secondary {
        color: $grey-300 !important;
    }
    .comment-editor-button {
        .btn {
            color: $grey-50 !important;
        }
    }
    .task-modal {
        background: $black-400;
    }
    .task-content-left {
        background: $black-700;
    }
    .comment {
        background: $grey-900;
    }
    .comment-avatar span {
        color: $grey-100;
    }
    .comment-content p,
    .comment-content span,
    .comment-content div,
    .comment-content code {
        color: $grey-300;
    }
    .list .column.list-group li.list-group-item.task-card .content-task-card {
        background-color: rgba(255, 255, 255, 0.2);
        .task-dates {
            color: rgba(255, 255, 255, 0.6);
        }
        .task-icons small,
        .task-stats small {
            color: $black-700 !important;
        }
        .badge.badge-light {
            background-color: rgba(255, 255, 255, 0.7) !important;
        }
    }
    textarea {
        padding: 4px 6px !important;
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .input-title div {
        color: $grey-50 !important;
    }
    .task-content-left h1,
    .task-content-left h2,
    .task-content-left h3,
    .task-content-left h4,
    .task-content-left h5,
    .task-content-left p,
    .task-content-left div {
        color: $grey-100 !important;
    }
    .task-content-left {
        .badge.badge-light {
            background-color: $black-300 !important;
            color: $grey-50 !important;
        }
        .txt-3D4F9F {
            color: $grey-50 !important;
        }
        h5 {
            color: $grey-200 !important;
        }
    }
    .task-left-content {
        background-color: $black-400 !important;
        border: 2px solid $black-300 !important;
    }
    .modal-task-date.task-left-content {
        background-color: transparent !important;
        border: 2px solid transparent !important;
    }
    .modal-task-dates {
        .due_date_content,
        .start_date_content {
            color: $grey-900 !important;
        }
    }
    .task-actions {
        .card {
            background-color: $black-500 !important;
        }
        .badge.badge-light {
            background-color: $black-300 !important;
            color: $grey-50 !important;
        }
    }
    .dropdown-fake.label-line {
        .dropdown-item {
            color: $grey-200 !important;
            .square {
                border: 1px solid $grey-600 !important;
            }
        }
    }
    .comment {
        background-color: $black-500 !important;
    }
    .tab-content {
        .table {
            background: transparent !important;
            td {
                border-top: 1px solid $grey-400 !important;
                color: #fff !important;
            }
        }
        .table-hover tbody tr:hover {
            background-color: $grey-500 !important;
        }
    }
    #provider-buttons a,
    .dropbox-dropin-default {
        color: $black-700 !important;
    }
    .document-card .card .document-details {
        background: $black-800 !important;
    }
    .gallery-image {
        background: $black-800 !important;
    }
    .textarea-description .vlabeledit-label {
        span,
        p,
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $grey-200 !important;
        }
    }
    .addColumnBox {
        background: $grey-700;
        color: $grey-100 !important;
        &:hover {
            background: $grey-400;
            box-shadow: none;
        }
    }
}