.btn:focus,
.btn.focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.badge {
    font-weight: 500 !important;
    padding: 5px 8px !important;
}

.badge.timer {
    width: 80px;
    text-align: left;
}

.table {
    border-radius: 6px;
}

.table th,
.table td {
    border-top: 1px solid $grey-50 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: $lime-50 !important;
}

.table-hover tbody tr:hover {
    background-color: $lime-100 !important;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    .col {
        position: relative;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

.titleLoading {
    h1 {
        color: #001737;
        font-size: 16px !important;
        display: flex !important;
        -webkit-box-align: start !important;
        align-items: flex-start !important;
        margin-bottom: 0;
    }
    p {
        font-size: 12px !important;
        line-height: 14px;
        color: #68748F;
        margin-bottom: 0;
    }
}

.b-avatar img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: auto;
}

.b-avatar.badge-secondary,
.b-avatar.badge-secondary:hover,
.b-avatar.badge-secondary:focus {
    background-color: transparent;
}

.b-avatar {
    max-width: auto !important;
}

a.badge-secondary:focus,
a.badge-secondary.focus {
    box-shadow: none;
}

.form-row {
    label {
        font-size: 13px;
    }
    .form-group {
        margin-bottom: 5px;
    }
    .form-control {
        width: 100%;
        margin-bottom: 4px;
    }
}

.table-small {
    thead {
        display: none;
    }
    th,
    td {
        padding: 0.5em 0.4em 0.3em !important;
        vertical-align: middle !important;
        border-top: 1px solid #DADBFC !important;
        font-size: 1em !important;
        color: #001737 !important;
    }
    tbody tr:hover {
        color: #001737 !important;
        background-color: #E5EFFF !important;
    }
    .btn-sm,
    .btn-group-sm>.btn {
        padding: 3px 10px;
        font-size: 0.775rem;
        line-height: 12px;
        border-radius: 4px;
        height: 20px;
    }
}

.tlp-main-project {
    .tpl-main-project-area {
        position: sticky;
        width: 100%;
        z-index: 9;
        top: 41px;
    }
    .subheader {
        padding: 10px 15px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .dropdown-toggle {
            padding: 2px 6px;
            font-size: 0.76em;
            font-weight: 600;
            line-height: 1.5em;
        }
    }
}

#header-project-area {
    .btn-toolbar {
        .btn-secondary.active {
            background: $black-50 !important;
            &:hover {
                cursor: default;
                color: $black-700 !important;
                background: $black-50 !important;
            }
        }
        .btn-secondary {
            background: $black-100 !important;
            color: $black-700 !important;
            font-weight: 600;
            line-height: 13px !important;
            padding: 4px 0.75rem !important;
            font-size: 12px !important;
            span {
                font-size: 12px !important;
            }
            &:hover {
                border: 1px solid $grey-A100;
                color: $black-50 !important;
                background: $grey-A700 !important;
            }
        }
    }
}

.input-group-append {
    .btn-small.btn-primary {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 31px;
        padding-top: 4px;
    }
}

.table-rockstar-team {
    background: #fff;
    td:nth-child(1) {
        color: $grey-A700;
        font-weight: 700;
        align-items: center !important;
        .ranking-number {
            font-size: 24px;
            min-width: 24px;
        }
    }
    td:nth-child(2) {
        display: flex;
        align-items: center !important;
        .box-useravatar {
            padding: 6px 0 0 0;
        }
    }
    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5) {
        text-align: right;
    }
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5) {
        text-align: right;
        color: $grey-A700;
        font-size: 24px;
        font-weight: 700;
        align-items: center !important;
    }
}

.table-discussions {
    background: #fff;
    td:nth-child(1) {
        font-size: 0.9rem !important;
        .box-useravatar {
            padding: 0;
        }
    }
    .b-avatar {
        margin: 0;
    }
    .stats {
        padding: 5px 0 0;
        font-size: 13px;
        color: $grey-600;
    }
    .txt-primary-title {
        font-size: 14px !important;
        line-height: 20px;
        font-weight: 600;
    }
}

.project-discussions {
    .txt-primary-title,
    .txt-primary-title p {
        color: $grey-900;
        font-size: 20px;
        font-weight: 500;
    }
}

.box-useravatar {
    display: flex;
    align-items: center !important;
    a {
        font-size: 12px;
        margin-left: 5px;
        color: $grey-700;
        font-weight: 500;
    }
}

.b-sidebar>.b-sidebar-header {
    padding: 0.5rem 0 !important;
}

.apexcharts-menu-icon {
    display: none;
}

.statusProjectExtra {
    position: absolute;
    margin-top: -3px;
    right: 15px;
}


/*

Scrollbar

*/

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 6px;
    background: $grey-700;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $grey-300;
}


/*

BASE 

*/

.txt-primary-title,
.txt-primary-title p {
    color: $grey-900;
    font-size: $font-size-lg;
    font-weight: 600;
}