/*
.project-members {
    .box {
        top: 40px;
        margin: 0 5px 50px;
        position: relative;
        border-radius: 6px;
        width: 212px;
        height: 170px;
        background: #fff;
        text-align: center;
        box-sizing: border-box;
        .user-remove {
            font-size: 0.7em;
            opacity: 0;
            position: absolute;
            left: 0;
            bottom: 65px;
            width: 100%;
            text-align: center;
        }
        &:hover {
            .user-remove {
                opacity: 1;
            }
        }
    }
    .box-inner {
        padding: 50px 30px 0;
    }
    .header-project-collaboration {
        position: absolute;
        padding: 4px 0 0;
        left: 0;
        bottom: 0;
        .progress {
            margin-top: 6px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
        .progress-bar {
            background-color: #464DEE;
        }
    }
    .avatar {
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), 0 0 0 8px #fff;
        top: -30px;
        margin-left: -34px;
        left: 50%;
        position: absolute;
    }
    .avatar img {
        width: 68px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
    }
    .name {
        text-align: center;
        font-size: 0.8em;
        font-weight: 400;
        margin-bottom: 0;
        a {
            color: #2A3B9C;
            font-weight: 500;
            display: flow-root;
            line-height: 1.2em;
        }
    }
    .headline {
        font-size: 0.75em;
        color: #68748F;
        margin-bottom: 2px;
    }
    .user-role {
        width: 100%;
        position: absolute;
        padding: 0;
        left: 0;
        text-align: center;
        bottom: 35px;
    }
}
*/