.project-card.gitscrum-upgrade {
    background: linear-gradient(88.91deg, #464DEE 0%, #26DC8E 105.2%);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 0 solid transparent !important;
}

.project-text svg {
    color: #464DEE;
}

.project-text.collapsed svg {
    color: #68748f;
    transition: color ease-in 0.2s;
    &:hover {
        color: #464DEE;
    }
}