.sidebar {
    padding: 0;
    .nav {
        overflow: hidden;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .sidebar-menu-title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #001737;
        margin-bottom: 23px;
    }
    .submenu-wrapper {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
    }
    .nav-item {
        display: block;
        margin-bottom: 12px;
    }
    .nav-link {
        display: inline;
        padding: 0;
        font-size: 14px;
        color: $grey-900;
        font-weight: normal;
        &:hover {
            color: $grey-A400;
            text-decoration: underline;
        }
    }
}

.global-side-bar {
    position: absolute;
    z-index: 2;
}